<div class="main-product">
  <div id="product-images" class="product-images">
    <div class="single-product-image">
      <img alt="checkout image" src="{{ 'Hero-Cart.jpg'  |  asset_url}}" width="" height="" />
    </div>
  </div>
  <div class="product-info info-checkout {% if cart.item_count>0 %} cart-with-product {% else %} cart-empty {% endif %}">
    <div class="checkout-title-wrapper">
      <h1 class="headline-big checkout-cart-title">
        {{'general.cart.title' | t}}
      </h1>
      <span class="cart-item-cart">{{cart.item_count}}</span>
    </div>
    
    {% if cart.item_count>0 %}
    <div class="meta-data info-content">
      <div class="head-line">
        <h2>{{'general.cart.preoder-info' | t}}</h2>
        <p>
          {{'general.cart.support_title' | t}}
          <a class="support-mail" href="mailto:{{'general.cart.support_email' | t}}">{{'general.cart.support_email' |
            t}}</a>
        </p>
      </div>
      <div class="description">
        {% form 'cart', cart %}
        <h3>Oder Summary</h3>
        <ul class="list-with-stroke">
          {% for item in cart.items %}
          <li>
            <p>{% if item.quantity>1 %}{{item.quantity}}x{% endif %}
              {{item.product.title}}&ndash;{{item.variant.title}}</p>
            <p>{{item.price | money}}<a class="remove-product" href="{{ item.url_to_remove }}">X</a></p>
          </li>
          {% endfor %}
          <li>
            <p>{{'general.Lines.shipping' | t}}</p>
            <p>{{'general.Lines.free' | t}}</p>
          </li>
          <li>
            <p>{{'general.Lines.subtotal' | t}}</p>
            <p>{{cart.total_price | money}}</p>
          </li>
        </ul>
        <button type="submit" name="checkout" class="checkout-button">{{'general.cart.checkout' | t}}</button>
        {% endform %}
      </div>
    </div>
    
    {% else %}
    <div class="meta-data info-content">
      <div class="head-line"></div>
      <div class="description empty-cart">
        {{'general.cart.empty' | t}}
        <ul class="list-with-stroke">
          {% for i in (1..3) %}
          <li> </li>
          {% endfor %}
        </ul>
        <a href="/" class="back-cart">{{'general.cart.back' | t}}</a>
      </div>
    </div>
   
    {% endif %}
  </div>
</div>